.main_page{
  padding: 20px 40px;
}

.upper-page-content{
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;


  .info-box {
    padding-top: 40px;
    text-align: left;

    .main-text{
      font-size: 24px;
      font-weight: 800;
    }
    .under-text{
      margin-bottom: 20px;
    }
  }
}

.btn {
  width: 335px;
  height: 59px;
  background-color: #5970FF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  font-family: 'Inter', sans-serif;
  font-size: 15px;

}

.btn:hover {
    background-color: #7594f5;
  }


.middle-page-content{

    text-align: left;
    padding: 20px 20px;
    .title{
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 800;
    }
    .middle-page_center-pic {
        padding-top: 30px;
        padding-left: 50px;
    }

}

.down-page-content {
    text-align: left;
    padding: 20px 40px;
    .down-title{
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 800;
    }
}