.result-card{
  margin: 40px 40px;
  padding: 20px 20px;
  width: 600px;
  height: 604px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
  .result-card_header{
    padding-bottom: 20px;
    .result-card_date{
      color: #949494;
      padding-right: 15px;
    }
    .result-card_source{
      color: #949494;
      text-decoration: underline;
      cursor: pointer;
      #res{
        color: #949494;
      }
    }
  }
  .result-card_title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }
  .result-card_news-type{
    width: 157px;
    height: 22px;
    background-color: #FFB64F;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    text-align: center;
    margin: 10px 0px;
    line-height: 20px

  }
  .result-card_pic{}
  .result-card_text{
    color: #949494;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 600px;

  }

  .result-card_btn{
    width: 223px;
    height: 47px;
    margin-top: 10px;
    background-color: #7CE3E1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 13px;

    .result-card_btn:hover {
      background-color: #328583;
  }

    a {
      text-decoration: none;
    }

    #res-btn{
      color: black;
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 17px
    }
  }
  .result-words{
    text-align: right;
    margin-bottom: -10px;
    color: #949494;
  }
}



